.footersection {
  display: block;
  // background-image: url("../../assets/images/wood.png");
  background-size: cover;
  background: #007b5e;
  .customcontainer {
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
  }

  ul, ol {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  .btn, .form-control {
    border-radius: 2px;
    box-shadow: none !important;
  }

  .footer2 a {
    color: #DDD;
  }

  .footer2 a:hover,
  .footer2 a:focus,
  .footer2 a:active {
    color: #FFF;
  }

  .footer2 .footer {
    // background-color: #990000;
    padding: 10px 0;
  }

  .footer2 .footer nav h3 {
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 1em 0;
  }

  .footer2 .footer nav h3 span {
    font-weight: 300;
    text-transform: capitalize;
  }

  .footer2 .footer nav ul li a {
    text-decoration: none;
    display: block;
    padding: 4px 0;
    font-size: 13px;
  }

  .footer2 .footer nav {
    padding-bottom: 10px;
  }

  .footer2 .footer .input-group {
    margin: 15px 0;
  }

  .footer2 .footer .form-control {
    border-radius: 2px 0 0 2px;
    background-color: #585C5D;
    border-color: #585C5D;
    color: #DDD;
  }

  .footer2 .footer .form-control:hover,
  .footer2 .footer .form-control:focus {
    border: 1px solid #222728;
    background-color: #222728;
  }

  .footer2 .footer .input-group-addon {
    border-radius: 0 2px 2px 0;
    background-color: #F7931D;
    color: #FFF;
    border-color: #F7931D;
  }

  .footer2 .footer .social {
    margin: 0 auto;
    display: table;
  }

  /* .footer2 .footer .social li {
    float: left;
  } */

  .footer2 .footer .social li a {
    // display: block;
    font-size: 1em;
    color: #DDD;
    width: 30px;
    height: 30px;
    line-height: 25px;
    padding: 0;
    // text-align: center;
    border-radius: 2px;
    // margin: 5px 4px
  }

 /*  .footer2 .footer .social li a:hover {
    background-color: #3A4144;
  } */

  .footer-bottom {
    padding: 5px 0 5px;
    // background: transparent;
}
.copyright-text h6 {
    color: #ccc;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
}

}

.my-class {
  animation: 0;
}

.experienceyeras {
.date {
  background: #990000;
  float: right;
  height: 105px;
  position: relative;
  width: 80px;
  margin-top: 10px;
}
.date p {
  color: white;
  font: 18px/30px Georgia, sans-serif;
  position: relative;
  text-align: center;
  text-shadow: 0 -1px 1px hsla(0,0%,0%,.1);
}


.date .day {
  display: block;
  font-size: 28px;
  padding-top: 6px;
}

/* Traditional Ribbon */

.traditional:after, .traditional:before {
  border-top: 15px solid #990000;
  bottom: -15px;
  content: '';
  height: 0;
  position: absolute;
  width: 0;
}
.traditional:after {
  border-right: 25px solid transparent;
  left: 0;
}
.traditional:before {
  border-left: 25px solid transparent;
  right: 0;
}

/* Cut-off Ribbon */

.cut-off:after {
  background-image: -webkit-linear-gradient(45deg, #990000 25%, transparent 25%, transparent 75%, #990000 75%, #990000),
                    -webkit-linear-gradient(-45deg, #990000 25%, transparent 25%, transparent 75%, #990000 75%, #990000);
  background-image:    -moz-linear-gradient(45deg, #990000 25%, transparent 25%, transparent 75%, #990000 75%, #990000),
                       -moz-linear-gradient(-45deg, #990000 25%, transparent 25%, transparent 75%, #990000 75%, #990000);
  background-image:     -ms-linear-gradient(45deg, #990000 25%, transparent 25%, transparent 75%, #990000 75%, #990000),
                        -ms-linear-gradient(-45deg, #990000 25%, transparent 25%, transparent 75%, #990000 75%, #990000);
  background-image:      -o-linear-gradient(45deg, #990000 25%, transparent 25%, transparent 75%, #990000 75%, #990000),
                         -o-linear-gradient(-45deg, #990000 25%, transparent 25%, transparent 75%, #990000 75%, #990000);
  background-image:         linear-gradient(45deg, #990000 25%, transparent 25%, transparent 75%, #990000 75%, #990000),
                            linear-gradient(-45deg, #990000 25%, transparent 25%, transparent 75%, #990000 75%, #990000);
  background-repeat: repeat-x;
  background-position: 50% 0;
  background-size: 10px 10px;
  bottom: -5px;
  content: '';
  height: 5px;
  left: 0;
  position: absolute; /* Make sure the parent element has a position set */
  right: 0;
}
}
