<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset$ | async )}" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>Physio</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Services</a>
      <a mat-list-item href="#">Contact</a>
      <a mat-list-item [routerLink]="['home/appointmentBooking']">Book Appointment</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <div class="container-fluid">
          <div class="row" style="background: #007b5e;padding: 5px;">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <span class="text-block time-block">
                <span class="time-text">Mon to Sat: <strong>10am - 9pm</strong> - Sunday: <strong>Closed</strong></span>
              </span>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8  col-xs-12">
              <div class="top-text">
                <span class="text-block call-block">
                  <span class="call-no">+00 (123) 456 7890</span>
                </span>
                <span class="text-block mail-block hidden-xs hidden-sm">
                  <span class="mail-text">info@yourdomain.com</span>
                </span>
              </div>
            </div>
          </div>
        </div>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a [routerLink]="['home']"><span class="company"><i class="fa fa-heartbeat"></i> Physio</span></a>
      <span class="spacer"></span>
      <a mat-list-item>Services</a>
      <a mat-list-item>Contact</a>
      <a mat-list-item [routerLink]="['home/appointmentBooking']">Book Appointment</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
