<!-- <div class="userforgotpwd">
  <h3 style="text-align:center;font-family:cursive;margin-bottom:20px;color: rgb(148, 7, 25)"> <span> Forgot password
    </span>
    <button mat-icon-button color="primary" style="float: right;border:none" (click)="onNoClick()" class="notranslate">
      <mat-icon>cancel</mat-icon>
    </button>
  </h3>
  <div class="example-form">

    <mat-form-field class="example-full-width">
      <mat-icon matSuffix>email</mat-icon>
      <input type="email" matInput placeholder="Email" [(ngModel)]="email" [pattern]="emailPattern">
    </mat-form-field>

    <button mat-raised-button color="primary" class="forgotbutton" (click)="forgotPwd(email)">
      <span style="font-size:17px;letter-spacing: 1px;">ABSENDEN</span>
      <mat-icon class="notranslate" style="margin-left:20px" matSuffix>arrow_forward_ios</mat-icon>
    </button>
    <div style="margin-top:10px">
      <button style="font-size:13px;letter-spacing: 1px;" mat-button (click)="onNoClick()"> Back</button>
    </div>
  </div>
</div>
 -->
