.userforgotpwd {
  .example-form {
    min-width: 150px;
    max-width: 350px;
    width: 100%;
    overflow: hidden;
  }

  .example-full-width {
    width: 100%;
    margin-top: 10px;
  }

  @media screen and (min-width: 768px) {
    .loginbutton{
      float: right;
    }
  }
}

.forgotbutton {
  width: 350px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.btn:focus {
  outline: none !important;
}
